<div class="header">
    <div class="container">
        <h2 @fadeInUp class="display-2 text-center text-blue-600 mt-16 mb-8">Assegna codice</h2>
        <div
        @fadeInUp
        class="border rounded-full bg-foreground py-2 ltr:pl-6 ltr:pr-3 rtl:pr-6 rtl:pl-3 text-secondary max-w-xl mx-auto border flex items-center">
            <mat-icon class="flex-none" svgIcon="mat:search"></mat-icon>
            <input
                class="border-0 ltr:ml-4 rtl:mr-4 placeholder:text-secondary subheading-2 outline-none font-normal w-0 bg-foreground flex-auto"
                placeholder="Cerca partecipante..."
                [formControl]="searchAttendeeControl"
                (blur)="checkSearchValue()"
                (keydown)="checkSearchValue()"
                type="text" />
            <button
                class="rounded-full flex-none"
                color="primary"
                mat-flat-button
                type="button"
                (click)="searchAttendee()"
                [disabled]="!searchable">
                Cerca
            </button>
        </div>

        <div *ngIf="(loadingAttendees$ | async)" @scaleFadeIn class="flex-auto flex flex-col items-center justify-center mt-6 pb-4">
            <mat-progress-spinner
            diameter="40"
            mode="indeterminate"
            color="primary"
            ></mat-progress-spinner>
        </div>
        
        <p *ngIf="!(loadingAttendees$ | async) && searched && arrAttendees.length == 0" @scaleFadeIn class="text-center text-hint title font-normal italic mt-4">Nessun partecipante trovato</p>

        <div class="h-full flex flex-col gap-4 container py-6" *ngIf="!(loadingAttendees$ | async) && arrAttendees.length > 0">
            <div @stagger class="border p-6 transition duration-400 ease-out-swift relative text-dark flex flex-col rounded-lg bg-foreground" *ngFor="let attendee of arrAttendees; let attendeeIndex = index">
                <div class="flex items-center">
                    <div class="flex-auto">
                        <h3 class="headline">{{ attendee.surname }} {{ attendee.name }}</h3>
                        <p class="title italic font-normal text-secondary">{{ attendee.idTaxCode }}</p>
                    </div>
                    <div class="flex items-center gap-4 ml-auto">
                        <input type="text" restrictNumbers id="code_{{attendeeIndex}}" class="w-20 h-20 text-center text-2xl text-blue-600 rounded-lg border border-slate-300">
                        <button mat-button color="primary">Assegna codice</button>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
</div>