<div class="container">
  <h2 @fadeInUp class="display-2 text-blue-600 mt-16 mb-8">Dashboard</h2>
</div>

<div class="py-24 pt-0 header">
  <div class="container">

    <div @fadeInUp class="flex flex-col mx-auto gap-4">

      <div class="bg-foreground rounded-lg">
        <a
          class="border p-6 transition duration-400 ease-out-swift cursor-pointer relative text-dark flex flex-col rounded-lg hover:border-primary-600 hover:bg-primary-600/10"
          matRipple
          [routerLink]="'assign-code'"
          routerLinkActive>
            <h2 class="display-1 mt-12 mb-4 text-blue-600">Assegna codice</h2>
            <h3 class="subheading-2 text-hint m-0">[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.]</h3>
        </a>
      </div>
      
      <div class="bg-foreground rounded-lg">
        <a
          class="border p-6 transition duration-400 ease-out-swift cursor-pointer relative text-dark flex flex-col rounded-lg hover:border-primary-600 hover:bg-primary-600/10"
          matRipple
          [routerLink]="'send-attendees'"
          routerLinkActive>
            <h2 class="display-1 mt-12 mb-4 text-blue-600">Invia presenze</h2>
            <h3 class="subheading-2 text-hint m-0">[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.]</h3>
        </a>
      </div>

    </div>
  </div>
</div>